.styling{
    position: relative;
}
.styling::after{
    content: "";
    position: absolute;
    bottom: -17%;
    left: 50%;
    width: 90px;
    border-bottom: 5px solid crimson;
    transform: translateX(-50%);
}
    